:root {
    --debug-outline: 2px solid darkcyan;

    --color-theme: #402E7A;

    --color-b: #4C3BCF;
    --color-c: #4B70F5;
    --color-selection: #3DC2EC;

    --color-cell-default: #cccccc;


    --color-background: white;

    --color-drop-shadow: rgba(0, 0, 0, 0.3);


    --border-radius-button: 10px;


    --size-cell: 80px;
    --border-radius-cell: 5px;
    --cell-gap: 10px;
}