:root {
    --debug-outline: 2px solid darkcyan; 
    
    --border-radius-button: 10px;
    --border-radius: 5px;

    --box-shadow: 2px 0 5px var(--color-drop-shadow);

    --color-theme: #224579;
    --color-b: #166088;
    --color-c: #4a6fa5;
    --color-selected: #3DC2EC;
    --color-disabled: #cccccc;
    --color-background: white;
    --color-background-modal: rgba(0, 0, 0, 0.2);
    --color-cell-default: #cccccc;
    --color-drop-shadow: rgba(0, 0, 0, 0.3);

    --color-font: black;
    --color-font-selected: white;

    --color-header: white;

    --gap-modal: 10px;

    --height-button: 2.4rem;
    --height-color-copy-container: 2.3rem;
    --height-modal: 60%;

    --margin-right-icon: 10px;
    --margin-side-panel: 10px;
    --min-width-popup: 15%;

    --outline-cell: 4px solid var(--color-selected);

    --padding-accordian-summary: 10px;
    --padding-modal: 10px;
    --padding-popup-text: 5px;
    --padding-popup: 15px;

    --size-font: 1rem;
    --size-header: 4rem;
    --size-icon: 1.5rem;

    --top-modal: 15%;
    --top-popup: 10%;
    
    --transition-duration: 0.3s;
    --transition-effect: ease-in-out;
    --transition-grid-color-change: background-color 0.2s;
    --transition-show-hide: opacity 0.4s ease-in-out, visibility 0.3s ease-in-out;

    --width-modal: 40%;
    --width-side-panel: 20%;

    --z-index-modal: 1000;
    --z-index-context-menu: 500;
    --z-index-popup: 1500;
}