:root {
    --debug-outline: 2px solid darkcyan; 
    
    --background-color-invalid: lightcoral; 
   
    --border-input: 1px solid darkgrey;

    --border-color-invalid: var(--color-invalid);

    --border-radius-button: 10px;
    --border-radius: 5px;

    --box-shadow-input-invalid: var(--color-invalid) 0px 0px 0px 3px;
    --box-shadow-input-selected: var(--color-selected) 0px 0px 0px 3px;
    --box-shadow: 2px 0 5px var(--color-drop-shadow);

    --color-theme: #224579;
    --color-b: #166088;
    --color-c: #4a6fa5;
    --color-selected: #3DC2EC;
    --color-invalid: #d60342;
    --color-background-modal: rgba(0, 0, 0, 0.2);
    --color-background: white;
    --color-cell-default: #cccccc;
    --color-disabled: #cccccc;
    --color-drop-shadow: rgba(0, 0, 0, 0.3);
    --color-font-selected: white;
    --color-font: black;
    --color-header: white;

    --gap-input: 10px;
    --gap-modal: 10px;

    --height-button: 2.4rem;
    --height-color-copy-container: 2.3rem;
    --height-modal: 60%;

    --margin-right-icon: 10px;
    --margin-side-panel: 10px;

    --min-width-popup: 15%;

    --outline-cell: 4px solid var(--color-selected);

    --padding-accordian-summary: 10px;
    --padding-color-copy-container: 0px 10px;
    --padding-color-picker: 0 2px;
    --padding-input: .3rem;
    --padding-modal: 10px;
    --padding-popup-text: 5px;
    --padding-popup: 15px;

    --size-font: 1rem;
    --size-header: 4rem;
    --size-icon: 1.5rem;

    --top-modal: 15%;
    --top-popup: 10%;
    
    --transition-duration: 0.3s;
    --transition-effect: ease-in-out;
    --transition-grid-color-change: background-color 0.2s;
    --transition-show-hide: opacity 0.4s ease-in-out, visibility 0.3s ease-in-out;

    --width-color-input: 15ch;
    --width-color-picker: 16.3ch;
    --width-copy-context-menu: 12%;
    --width-input-context-menu: 20%;
    --width-modal: 40%;
    --width-option-input: 8ch;
    --width-side-panel: 20%;

    --z-index-context-menu: 500;
    --z-index-modal: 1000;
    --z-index-popup: 1500;

    /* DEBUG */
    --debug-left-copy-context-menu: 630px;
    --debug-left-input-context-menu: 330px;
    --debug-top-context-menu: 0px;
}