:root {
    --debug-outline: 2px solid darkcyan;

    --color-theme: #402E7A;
    --color-b: #4C3BCF;
    --color-c: #4B70F5;

    --color-theme: #224579;
    --color-b: #166088;
    --color-c: #4a6fa5;

    --color-selection: #3DC2EC;
    --color-cell-default: #cccccc;
    --color-background: white;
    --color-drop-shadow: rgba(0, 0, 0, 0.3);

    --border-radius-button: 10px;
    --font-size: 1.5rem;
   
    --transition-duration: 0.3s;
    --transition-effect: ease-in-out;
}