@import './constants.css';

/* #region Globals */

/* CSS reset 
   Sets a default for all elements in the CSS.
   This ignores browser defaults to ensure a consistent baseline across different browsers.
*/
* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

/* debug option to show all borders for ALL elements */
.show-borders * {
    outline: var(--debug-outline);
}

body {
    background-color: var(--color-background);
    display: flex;
    height: 100vh;
}

textarea {
    border-radius: var(--border-radius);
    font-size: var(--size-font);
    resize: none;
    height: 100%;
}

ion-icon {
    font-size: var(--size-icon);
}

p {
    text-align: center;
}

.show {
    opacity: 1 !important;
    visibility: visible !important; 
}

/* #endregion */

/* #region Buttons */

button {
    align-items: center;
    border-radius: var(--border-radius-button);
    box-shadow: var(--box-shadow);
    display: flex;
    height: var(--height-button);
    justify-content: center;
    transition: background-color var(--transition-duration) var(--transition-effect),
                color var(--transition-duration) var(--transition-effect);
    width: 100%;
}

button:hover {
    background-color: var( --color-selected);  
    color: var(--color-font-selected);
}

button:disabled {
    background-color: var(--color-disabled);
    color: var(--color-font) !important;
}

button ion-icon {
    font-size: var(--size-icon);
}

/* #endregion */







/* #region SidePanel */

.side-panel {
    background-color: var(--color-theme);
    border-radius: 5px;
    box-shadow: 2px 0 5px var(--color-drop-shadow);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-start;
    padding-top: 0px;
    padding: 15px;
    width: var(--width-side-panel);  
}

.header {
    align-items: center;
    display: flex;
    gap: 5%;
    margin: 0px !important;
}


.header ion-icon {
    color: white;
    font-size: 4rem !important;
}

.side-panel-item {
    display: flex;
    margin: 10px 0px;
}





/* #region accordians */

.side-panel summary {
    padding: 15px 15px;
    background-color: var(--color-b);
    border-radius: 5px 5px 0px 0px;

    transition: background-color var(--transition-duration) var(--transition-effect),
                color var(--transition-duration) var(--transition-effect);
}

.side-panel summary:hover {
    background-color: var( --color-selected);  
}

.side-panel details {
    border-radius: 5px;
    background-color: var(--color-c);
}

/* #endregion */







.side-panel div {
    margin: 2% 5%;
}

.side-panel div * {
    margin: 2% 0%;
}

.side-panel textarea {
    height: 100%;
    background-color: var(--color-disabled);
}

/* #endregion */


/* #region Grid */

.grid-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: auto; /* Allows the grid to scroll if it overflows */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    width: var(--size-cell);
    height: var(--size-cell);
    background-color: var(--color-cell-default);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: var(--border-radius-cell); */
    cursor: pointer;
    transition: background-color 0.2s;

    z-index: 0;
}

.grid-item:hover {
    outline: 4px solid var(--color-selected);
    /* outline-offset: 0px; */

    z-index: 1;
}

/* #endregion */






/* #region Modal */

/* Makes a dark overlay across the entire screen 
   z-index has a huge value to ensure that it is on top
*/
.modal {
    background-color: var(--color-background-modal);
    height: 100%;  
    opacity: 0;
    position: fixed;
    transition: var(--transition-show-hide);
    visibility: hidden;
    width: 100%;
    z-index: var(--z-index-modal);
}
  
.modal-content {
    background-color: var(--color-theme);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: var(--gap-modal);
    height: var(--height-modal);
    left: 50%;
    padding: var(--padding-modal);
    position: absolute;
    top: var(--top-modal);
    transform: translate(-50%, 0%);
    width: var(--width-modal);
}

.modal p {
    color: var(--color-font-selected);
}

.modal-buttons {
    display: flex;
    gap: var(--gap-modal);
}

/* #endregion */

/* #region Popup */

.popup {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-font-selected);
    left: calc(60%); /* Center horizontally relative to the remaining 80% of the screen (considering 20% sidebar) */
    min-width: var(--min-width-popup);
    opacity: 0;
    padding: var(--padding-popup);
    position: fixed;
    text-align: center;
    top: var(--top-popup);   
    transform: translate(-50%, -50%);
    transition: var(--transition-show-hide);
    visibility: hidden;
    width: fit-content; 
    z-index: var(--z-index-popup); /* Show over even the modal  */
}

.popup p {
    background-color: var(--color-theme);
    border-radius: var(--border-radius);
    padding: var(--padding-popup-text);
}

.popup-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

/* #endregion */

 







/* TODO */

/* #region ContextMenu */

.context-menu {
    position: absolute;

    width: fit-content;
    background-color: var(--color-theme);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 
    margin:0px;
    padding: 0;

    z-index: 1000;
    color: white;

    border-radius: 5px;

}

.context-menu {
    display: none;
}

.context-menu-right {
    display: flex;
    flex-direction: column;
    gap: 5px;

    display: none;
}

/* .context-menu button {
    margin-top: 2px;
    width: 100%;
    padding: 10px;
    background-color: var(--color-background);
    color: var(--color-theme);
    border: none;
    cursor: pointer;
} */


.context-menu div {
    padding: 10px;
}

.context-menu p {
    margin: 0;
    padding: 5px 10px;
}

/* #endregion */

/* #region input */

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input label {
    /* font-weight: bold; */
    margin-right: 10px; 
}

.input input {
    padding: .3rem;
    font-size: 14px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

    margin: 0;
    text-align: center;
}

.input input:focus{
    border-color: var( --color-selected);
    box-shadow: var( --color-selected) 0px 0px 0px 3px;
}

.option-input input {
    width: 8ch;
}

.color-input input {
    width: 15ch;
}

/* .input-valid {
    background-color: lightgreen !important; 
    border-color: #03d626 !important;
    box-shadow: rgba(1, 68, 29, 0.3) 0px 0px 0px 3px !important;
} */

.input-invalid {
    background-color: lightcoral !important;
    border-color: #d60342 !important;
    box-shadow: #d60342 0px 0px 0px 3px !important;
}

/* #endregion */


/* #region color */




.color-copy-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px !important;

    height:40px;
}

.color-copy-container:hover {
    background-color: var( --color-selected);
    cursor: pointer;
}



/* #endregion */






