@import './constants.css';

/* #region Debug */

/* Show all borders for ALL elements */
.show-borders * {
    outline: var(--debug-outline);
}

/* .modal {
    opacity: 1 !important;
    visibility: visible !important;    
} */

/* #input-context-menu {
    display: block;
    top: var(--debug-top-context-menu);
    left: var(--debug-left-input-context-menu);
} */

/* #copy-context-menu {
    display: block;
    top: var(--debug-top-context-menu);
    left: var(--debug-left-copy-context-menu);
} */

/* #endregion */

/* #region Globals */

/* CSS reset 
   Sets a default for all elements in the CSS.
   This ignores browser defaults to ensure a consistent baseline across different browsers.
*/
* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
    display: flex;
    height: 100vh;
}

textarea {
    border-radius: var(--border-radius);
    font-size: var(--size-font);
    resize: none;
    height: 100%;
    outline: none;
}

ion-icon {
    font-size: var(--size-icon);
    margin-right: var(--margin-right-icon);
}

p {
    text-align: center;
}

.show {
    opacity: 1 !important;
    visibility: visible !important; 
}

.evenly-spaced-column {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 8px;
}

/* #endregion */

/* #region Buttons */

button {
    align-items: center;
    border-radius: var(--border-radius-button);
    box-shadow: var(--box-shadow);
    display: flex;
    height: var(--height-button);
    justify-content: center;
    transition: background-color var(--transition-duration) var(--transition-effect),
                color var(--transition-duration) var(--transition-effect);
    width: 100%;
}

button:hover {
    background-color: var( --color-selected);  
    color: var(--color-font-selected);
}

button:disabled {
    background-color: var(--color-disabled);
    color: var(--color-font) !important;
    cursor: not-allowed;
}

button ion-icon {
    font-size: var(--size-icon);
}

/* #endregion */

/* #region Side Panel */

.side-panel {
    background-color: var(--color-theme);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-header);
    display: flex;
    flex-direction: column;
    min-width: var(--width-side-panel);  
    width: var(--width-side-panel);  
}

.side-panel-item {
    display: flex;
    flex-direction: column;
    margin: var(--margin-side-panel);
}

.header {
    align-items: center;
    flex-direction: row !important;
}

.header ion-icon {
    color: var(--color-header);
    font-size: var(--size-header);
}

/* #region accordians */

/* summary is the top part of the accordian.
   details is the bottom part of the accordian.
*/
.side-panel summary {
    background-color: var(--color-b);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    padding: var(--padding-accordian-summary);
    transition: background-color var(--transition-duration) var(--transition-effect),
                color var(--transition-duration) var(--transition-effect);
}

.side-panel summary:hover {
    background-color: var( --color-selected);  
}

.side-panel details {
    background-color: var(--color-c);
    border-radius: var(--border-radius);
}

/* #endregion */

.side-panel textarea {
    background-color: var(--color-disabled);
}

/* #endregion */

/* #region Main Panel */

.main-panel {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow: auto; /* Allows the grid to scroll if it overflows */
}

.grid-container {
    display: grid;
}

.grid-item {
    cursor: pointer;
    transition: var(--transition-grid-color-change);
    z-index: 0;
}

.grid-item:hover {
    outline: var(--outline-cell);
    z-index: 1; /* Make sure to be ontop of the grid item */
}

/* #endregion */

/* #region Modal */

/* Makes a dark overlay across the entire screen 
   z-index has a huge value to ensure that it is on top
*/
.modal {
    background-color: var(--color-background-modal);
    height: 100%;  
    opacity: 0;
    position: fixed;
    transition: var(--transition-show-hide);
    visibility: hidden;
    width: 100%;
    z-index: var(--z-index-modal);
}
  
.modal-content {
    background-color: var(--color-theme);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: var(--gap-modal);
    height: var(--height-modal);
    left: 50%;
    padding: var(--padding-modal);
    position: absolute;
    top: var(--top-modal);
    transform: translate(-50%, 0%);
    width: var(--width-modal);
}

.modal p {
    color: var(--color-font-selected);
}

.modal-buttons {
    display: flex;
    gap: var(--gap-modal);
}

/* #endregion */

/* #region Popup */

.popup {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-font-selected);
    left: calc(60%); /* Center horizontally relative to the remaining 80% of the screen (considering 20% sidebar) */
    min-width: var(--min-width-popup);
    opacity: 0;
    padding: var(--padding-popup);
    position: fixed;
    text-align: center;
    top: var(--top-popup);   
    transform: translate(-50%, -50%);
    transition: var(--transition-show-hide);
    visibility: hidden;
    width: fit-content; 
    z-index: var(--z-index-popup); /* Show over even the modal  */
}

.popup p {
    background-color: var(--color-theme);
    border-radius: var(--border-radius);
    padding: var(--padding-popup-text);
}

.popup-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

/* #endregion */

/* #region ContextMenu */

.context-menu {
    background-color: var(--color-c);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-font-selected);
    display: none;
    position: absolute;
    z-index: var(--z-index-context-menu);
}

#input-context-menu {
    width: var(--width-input-context-menu);
}

#copy-context-menu {
    width: var(--width-copy-context-menu);
}

.color-copy-container {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height:var(--height-color-copy-container);
    padding: var(--padding-color-copy-container);
}

.color-copy-container:hover {
    background-color: var( --color-selected);
    cursor: pointer;
    border-radius: var(--border-radius);
}

/* #endregion */

/* #region input */

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-input);
}

.input input {
    border-radius: var(--border-radius);
    border: var(--border-input);
    font-size: var(--size-font);
    outline: none;
    padding: var(--padding-input);
    text-align: center;
}

.input input:focus{
    border-color: var( --color-selected);
    box-shadow: var(--box-shadow-input-selected);
}

.option-input input {
    width: var(--width-option-input);
}

.color-input input {
    width: var(--width-color-input);
}

.color-picker-input input {
    width: var(--width-color-picker);
    padding: var(--padding-color-picker);
    background-color: white;
}

.input-invalid {
    background-color: var(--background-color-invalid) !important;
    border-color: var(--border-color-invalid) !important;
    box-shadow: var(--box-shadow-input-invalid) !important;
}

/* #endregion */