@import './constants.css';

* {
    /* CSS reset */
    margin: 0;
    padding: 0;

    font-family: 'Oswald', sans-serif;
}

.show-borders * {
    outline: var(--debug-outline);
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: var(--color-background);
}






.side-panel {
    width: 20%;  
    background-color: var(--color-theme);
    color: white;
    padding: 15px;
    padding-top: 0px;
    box-shadow: 2px 0 5px var(--color-drop-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-start;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    margin: 0px !important;
}


.header ion-icon {
    font-size: 4rem !important;
    color: white;
}

.side-panel-item {
    margin: 10px 0px;
    display: flex;
}





/* accordians */

.side-panel summary {
    padding: 15px 15px;
    background-color: var(--color-b);
    border-radius: 5px 5px 0px 0px;

    transition: background-color var(--transition-duration) var(--transition-effect),
                color var(--transition-duration) var(--transition-effect);
}

.side-panel summary:hover {
    background-color: var(--color-selection);  
}

.side-panel details {
    border-radius: 5px;
    background-color: var(--color-c);
}









.side-panel div {
    margin: 2% 5%;
}

.side-panel div * {
    margin: 2% 0%;
}


.side-panel button {
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius-button);
    box-shadow: 2px 0 5px var(--color-drop-shadow);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-duration) var(--transition-effect),
                color var(--transition-duration) var(--transition-effect);
}

.side-panel button:hover {
    background-color: var(--color-selection);  
    color: white;
}

.side-panel ion-icon {
    font-size: 1.5rem;
    margin-right: 5%;
}



.side-panel textarea {
    font-size: 1rem;
    height: 100%;
    resize: none;
}
 
 




 




















.grid-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: auto; /* Allows the grid to scroll if it overflows */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    width: var(--size-cell);
    height: var(--size-cell);
    background-color: var(--color-cell-default);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: var(--border-radius-cell); */
    cursor: pointer;
    transition: background-color 0.2s;

    z-index: 0;
}

.grid-item:hover {
    outline: 4px solid var(--color-theme);
    /* outline-offset: 0px; */

    z-index: 1;

}






















/* region context menu */
.context-menu {
    position: absolute;

    width: fit-content;
    background-color: var(--color-theme);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 
    margin:0px;
    padding: 0;

    z-index: 1000;
    color: white;

    border-radius: 5px;

}

.context-menu {
    display: none;
}

.context-menu-right {
    display: flex;
    flex-direction: column;
    gap: 5px;

    display: none;
}

/* .context-menu button {
    margin-top: 2px;
    width: 100%;
    padding: 10px;
    background-color: var(--color-background);
    color: var(--color-theme);
    border: none;
    cursor: pointer;
} */


.context-menu div {
    padding: 10px;
}

.context-menu p {
    margin: 0;
    padding: 5px 10px;
}































.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input label {
    /* font-weight: bold; */
    margin-right: 10px; 
}

.input input {
    padding: .3rem;
    font-size: 14px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

    margin: 0;
    text-align: center;
}

.input input:focus{
    border-color: var(--color-selection);
    box-shadow: var(--color-selection) 0px 0px 0px 3px;
}

.option-input input {
    width: 8ch;
}

.color-input input {
    width: 15ch;
}

/* .input-valid {
    background-color: lightgreen !important; 
    border-color: #03d626 !important;
    box-shadow: rgba(1, 68, 29, 0.3) 0px 0px 0px 3px !important;
} */

.input-invalid {
    background-color: lightcoral !important;
    border-color: #d60342 !important;
    box-shadow: #d60342 0px 0px 0px 3px !important;
}


















/* .color-details p {
    padding: 10px;
    border-radius: 5px;
}

.color-details p:hover {
    background-color: var(--color-selection);
} */




.color-copy-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px !important;

    height:40px;
}

.color-copy-container:hover {
    background-color: var(--color-selection);
    cursor: pointer;
}

/* .color-copy-container p {

} */

.color-copy-container ion-icon {
    font-size: var(--font-size);
    margin-right: 5px;
}

/* endregion */















/* region Popup style */
.popup {
    position: fixed;
    top: 10%;   
    left: calc(60%); /* Center horizontally relative to the remaining 80% of the screen (considering 20% sidebar) */
    transform: translate(-50%, -50%);
    padding: 10px;

    visibility: hidden;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1001;
    text-align: center;
    width: 15%; 
}

.popup p {
    background-color: var(--color-theme);
    border-radius: 5px;
    padding: 5px;
}

.popup.show {
    opacity: 1;
    visibility: visible; 
}

.popup-title {
    font-weight: bold;
    margin-bottom: 1rem;
}
/* endregion */